{% extends "logout.html" %}

{% block content %}
		<a href="/welcome" class="btn btn-default">Home Page</a>
		<h1>Edit post</h1>
		<form method="post">
			<input value="{{post.title}}" name=title class="form-control">
			<textarea name="post" class="form-control" rows=10>{{post.post}}</textarea>
			<input type="submit" value="Update">
		</form>
        <form action="/delete/{{post.key().id()}}" method="post">
            <input type="submit" value="Delete" class="btn btn-default" name="delete">
        </form>
{% endblock %}
