{% extends "like.html" %}

{% block content %}
	<a href="/welcome" class="btn btn-default">Home Page</a>
		<span class="error">
			{% if error %} {{error}} {% endif %}
		</span>
		{% if post %}
			{% if username == post.author.username %}
				<a href="/edit/{{post.key().id()}}" class="btn btn-default">Edit/Delete</a>
			{% else %}
			    <button author="{{ post.author.username }}" value="{{ post.key().id() }}" class="btn btn-default like-btn {{liked}}">
		{% if liked %}unlike{%else%}like{%endif%}
</button>
			{% endif %}
			<div class="post">
				<h1>{{ post.title }}</h1>
				<h5>{{likes}} like(s)</h5>
				<hr>
				<p>{{post.post}}</p>
				<p>by: {{post.author.username}}</p>
				<i>{{post.datetime}}</i>
			</div>
			<hr>
			<h2>Comments</h2>
			<div class="add-comment">
					<textarea pid="{{post.key().id()}}" rows=2 class="form-control" name="comment"></textarea>
					<button name="add" class="btn btn-default">add comment</button>
			</div>
			<div class="comments-div">
				{% for comment in comments %}
					<div class="comment">
						<hr>
						<div hidden class="update-comment">
							<textarea cid="{{ comment.key().id() }}" rows=2 class="form-control" name="new-comment"></textarea>
							<button class="btn btn-default edit" name="update">update</button>
							<button class="btn btn-default delete" name="delete">delete</button>
						</div>
						<div class="view-comment">
							<div class="comment-content">
								<p class="body">{{comment.body}}</p>
								<p class="username">by: {{comment.user.username}}</p>
								 <i class="datetime">{{comment.datetime}}</i>
							</div>
							{% if comment.user.username == username  %}
								<button class="edit-comment btn btn-default">edit/delete comment</button>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<h1>No post here buttface (_|_)</h1>
		{% endif %}
{% endblock %}
			{% block like_scripts %}
			<script>
				$('.add-comment').click(function(data){
					var button = $(data.target)
					var textarea = $(this).find('textarea')
					var content = textarea.val()
					textarea.val("")
					if (button.attr('name') == "add"){
						$.ajax('/' + textarea.attr('pid'), {
							method: "post",
							dataType: "json",
							data: {
								'comment': content,
								}
							}).done(function(comments) {
								var currUser = comments.currentUser
								var comments = comments.comments
								var l = comments.length
								for (var i=0; i < l; i++) {
									var html = "<div class='comment'><hr><div hidden class='update-comment'><textarea cid='" + comments[i].id + "' rows=2 class='form-control' name='new-comment'></textarea><button class='btn btn-default edit' name='update'>update</button><button class='btn btn-default delete' name='delete'>delete</button></div><div class='view-comment'><div class='comment-content'><p class='body'>" + comments[i].body + "</p><p class='username'>by: " + comments[i].username + "</p><i class='datetime'>" + comments[i].datetime + "</i></div>"
									if (comments[i].username == currUser) {
										html += "<button class='edit-comment btn btn-default'>edit/delete comment</button></div>"
									}
									else { 
										html += "</div>"
									}
									$('.comments-div').prepend($(html));

								}
						});
					}
				});

				$('.comments-div').click(function(data) {
					var button = $(data.target)
					if (button.hasClass('edit-comment')) {	
						var content = button.prev().find('.body').text()
						button.parent().hide()
						button.parent().prev().show().find('textarea').val(content)
					}
				   else {
						var p = button.parent().parent()
						var textarea = p.find('textarea')
						var id = textarea.attr('cid')
						if (button.attr('name') =="update") {
							var content = textarea.val()
							$.ajax('/edit/comment/' + id, {
								method: "post",
								dataType: "json",
								data: {
									'comment': content
									}
								}).done(function(result) {
									// replace current comment with updated comment
									if (result.error)
										$('.error').html("You cannot edit other users' comments!")
									else {
										p.find('.comment-content').html("<p class='body'>" + result.body + "</p><p class='username'>by:" + result.username + "</p><i class='datetime'>" + result.datetime + "</i>")
										$('.view-comment').show()
										$('.update-comment').hide()
									}
							});
						}
						else if (button.attr('name') == 'delete'){
							$.post('/delete/comment/' + id, function(result) {
									if(result == "success")
										p.remove()	
									else
										$('.error').html("You cannot edit other users' comments!")
							});
						}
				}
				});
			</script>
			{% endblock %}
