{% extends "like.html" %}

{% block content %}
	<h1>Welcome, <span class="user">{{ user }}</span>!</h1>
	<span class="error">
		{% if error %}
			You can only edit your own posts!
		{% endif %}
	</span>
	<h3><a href="/newpost">Submit a post</a></h3>
        <div class="filter-btn">
            <button id="liked_posts" class="btn btn-default">Liked Posts</button>
            <button id="all_posts" class="active btn btn-default">All Posts</button>
            <button id="my_posts" class="btn btn-default">My Posts</button>
        </div>
	{% for post in posts %}
			{% if user != post.author.username %}
		<div class="post other-posts-div {{liked.get(post.key().id(), 'unliked')}}-div">
            {% else %}
		<div class="post unliked-div">
            {% endif %}
			<a href="/{{ post.key().id() }}">
                <span class="title">{{ post.title }}</span> 
                - 
                <span class="author">{{ post.author.username }}</span>
            </a>
			<p><i>{{ post.datetime }}</i></p>
			{% if user != post.author.username %}
			    <button author="{{ post.author.username }}" value="{{ post.key().id() }}" class="btn btn-default like-btn {{liked[post.key().id()]}}">{{liked.get(post.key().id(), 'like')}}</button>
            {% else %}
				<a class="edit btn btn-default" href="/edit/{{ post.key().id() }}">Edit/Delete</a>
			{% endif %}
			<hr>
		</div>
	{% endfor %}
{% endblock %}
{% block like_scripts %}
	<script>
        $('.filter-btn').click(function(button) {
            var btn = $(button.target)
			var btnid = button.target.id
            if (btnid == 'liked_posts') {
                $('.other-posts-div').show();
                $('.unliked-div').hide();
                btn.addClass('active')
                $('#all_posts').removeClass('active')
                $('#my_posts').removeClass('active')
            }
            else if (btnid == 'all_posts') {
                $('.other-posts-div').show();
                $('.unliked-div').show();
                btn.addClass('active')
                $('#liked_posts').removeClass('active')
                $('#my_posts').removeClass('active')
            }
            else if (btnid == 'my_posts') {
                $('.unliked-div').show();
                $('.other-posts-div').hide();
                btn.addClass('active')
                $('#liked_posts').removeClass('active')
                $('#all_posts').removeClass('active')
            }
        });
	</script>
{% endblock %}
